<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Host</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <style>
    .hidden {
      display: none;
    }

    .button-container {
      display: flex;
      flex-direction: column; /* Arrange buttons vertically */
      justify-content: center;
      align-items: center;
    }

  </style>
</head>
<body class="host">
    <img src="../static/Logo.png" alt="Logo" class="logo" onclick="window.location.href='/main'" style="margin-top: 150px;">

    <div style="position: relative; height: 80vh;">
      <div id="password-section" class="box">
        <h2 style="color: #7E3064; font-family: 'Rubik', sans-serif; margin: 5px;">Enter Password</h2>
        <input type="password" id="password" style="width: 80%; padding: 10px; margin: 10px 20px 20px 20px; border-radius: 5px; border: 2px solid #7E3064; font-family: 'Rubik', sans-serif; font-size: 18px;">
        <button class="button" onclick="checkPassword()">Continue as host</button>
      </div>

      <div id="admin-buttons" class="hidden">
        <div class="button-container" style="position: absolute; top: calc(50% - 0px); left: 50%; transform: translate(-50%, -50%); text-align: center;">
            <button class="button" style="width: 300px; margin-bottom: 15px;" onclick="executeAction('/run-cook')">Cook</button>
            <button class="button" style="width: 300px; margin-bottom: 15px;" onclick="executeAction('/delete-results')">Delete Results</button>
            <button class="button" style="width: 300px;" onclick="executeAction('/delete-for-real')">Delete All</button>
        </div>
      </div>
    </div>

    <script src="../static/host.js"></script>
</body>
</html>
