<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body class="main">
    <img src="../static/Logo.png" alt="Logo" class="logo" style="margin-top: -100px;">
    <div class="box" style="margin-top: -100px;">
        <button class="button" onclick="window.location.href='/host'">Host</button>
        <button class="button" onclick="window.location.href='/friendship-quiz'">Join a Flow</button>
    </div>
</body>
</html>
