<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preferences</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body class="main">
    <img src="../static/Logo.png" alt="Logo" class="join-logo" onclick="window.location.href='/main'" style="margin-top: 150px;">
    <div style="position: relative; height: 80vh;">
      <div style="position: absolute; top: calc(50% - 150px); left: 50%; transform: translate(-50%, -50%); text-align: center; 
                  background: #FFCFEF; padding: 20px; border-radius: 10px; border: 2px solid #7E3064; width: 600px; display: flex; flex-direction: column; align-items: center;">
        <p style="color: #7E3064; margin: 0 auto; font-family: 'Rubik', sans-serif; font-size: 30px; width: 90%; text-align: center; margin-bottom: 30px;">
          We're finding your match<span class="loading-dots"></span></p>
        <div class="withtext-box" style="gap: 20px; display: flex; justify-content: center; width: 100%;">
          <button class="button" onclick="checkAndRedirect()">Refresh</button>
        </div>
        <script>
          async function checkAndRedirect() {
            try {
              const response = await fetch('/check_result');
              const data = await response.json();
              if (data.hasResult) {
                window.location.href = '/pre_result';
              } else {
                window.location.href = '/waiting';
              }
            } catch (error) {
              console.error('Error:', error);
            }
          }
        </script>
      </div>
    </div>
</body>
</html>
