<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waiting</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body class="main">
    <img src="../static/Logo.png" alt="Logo" class="logo" onclick="window.location.href='/main'" style="margin-top: -100px;">
    <div class = "box">
        <p class = "head-text">
          We're finding your match<span class="loading-dots"></span></p>
        <div class="withtext-box" style="gap: 20px; display: flex; justify-content: center; width: 100%;">
          <button class="button" onclick="window.location.href='/check_result'">Refresh</button>
        </div>
        <p class = "body-text">
          Match will be released in approx 30 min~ While waiting, check out our activities:</p>
        <p class = "body-text" style = "text-align: left;">
          @CnD: Chocolate Fondue, Pin Making, Jenga</p>
        <p class = "body-text" style = "text-align: left;">
          @MC Comfy: Mocktails, Karaoke/ Talent show (for chance to win boba date!), CupPong, PhotoBooth</p>
    </div>
</body>
</html>
